.App {
  background-color: #ffffff;
}

header {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleries .gallery-item {
  max-width: 900px;
  margin: 10px; /* Adjust spacing as needed */
  margin-top: 30px;
  box-sizing: border-box; /* Ensure consistent width calculations */
}

.galleries .gallery-item h3 {
  font-size: x-large;
  color: #ff0088;
}

.galleries img {
  width: 90%;
  max-width: 900px;
  height: auto; /* Maintain aspect ratio while filling container */
}

.artworks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.art {
  background-color: rgb(255, 255, 255);
  margin: 5px;
  padding: 5px 10px;
}

.art:hover {
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(194, 201, 208);
  cursor: pointer;
}

.art img {
  width: auto;
  height: 400px;
}

.flex-container {
  display: flex;
  gap: 40px;
}

.flex-container aside {
  min-width: 300px;
  padding-top: 20px;
}

.flex-container section {
  flex: 1;
}

.exhibition {
  margin-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
}

.gallery {
  margin-left: 30px;
}

.myButton {
  padding-right: 10px;
}
